<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Fantasy Lookup</title>
    <style>
        body {
          background-color: black;
          text-align: center;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <section>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuZRr3qxp2iducJ8rg6qtZ0sPCdCDBxem6OA&usqp=CAU" alt="Final Fantasy">
    </section>

    <section>
        <form action = "/game" method = "POST">
            <p>Enter a Final Fantasy Game:</p>
            <p>Input must be 01 ~ 15, excluding 11 and 14</p>
            <p><input type = "text" name = "game"></p>
            <p><input type = "submit" value = "Get the game!"></p>
        </form>
    </section>
    <h4>OR</h4>
    <section>
        <form action = "/character" method = "POST">
            <p>Enter any Final Fantasy character:</p>
            <p><input type = "text" name = "character"></p>
            <p><input type = "submit" value = "Get the character!"></p>
        </form>
    </section>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5YkqJFEvzBVql1mSgUAfsW?utm_source=generator&theme=0" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    <section>
        <a href="{{ url_for('lezdoit') }}" class="btn btn-primary">See JSON</a>
    </section>

</body>
</html>