<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What to do???</title>
</head>
<body>
    <section>
        <form action = "/game" method = "POST">
            <p>Enter a Final Fantasy Game:</p>
            <p>Input must be 01 ~ 15, excluding 11 and 14</p>
            <p><input type = "text" name = "game"></p>
            <p><input type = "submit" value = "Get the game!"></p>
        </form>
    </section>
    <h4>OR</h4>
    <section>
        <form action = "/character" method = "POST">
            <p>Enter any Final Fantasy character:</p>
            <p><input type = "text" name = "character"></p>
            <p><input type = "submit" value = "Get the character!"></p>
        </form>
    </section>
</body>
</html>