<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What to do???</title>
</head>
<body>
    <section>
        <h4>Input any Final Fantasy character:</h4>
    </section>

    <form action = "/choice" method = "POST">
        <p>Who will it be?</p>
        <p><input type = "text" name = "chosen"></p>
        <p><input type = "submit" value = "Let's go!"></p>
    </form>
</body>
</html>